@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap");

$header-height: 4rem;
$sidebar-width: 16rem;

$tw-bg-opacity: 1;
$tw-text-opacity: 1;

$ui-background: var(--color-gray-900);
$ui-foreground: var(--color-gray-200);

// $font-family: "Khand", sans-serif;
$font-family: "DM Sans", "DM Sans Fallback: Arial", ui-sans-serif, system-ui,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
  Noto Color Emoji;
